services:
  kiro-rs:
    image: ghcr.io/wangqiupei/kiro-rs:v2026.2.6-dev.2
    container_name: kiro-rs
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8990:8990"
    volumes:
      - ./config:/app/config
    restart: unless-stopped
