services:
  kiro-rs:
    image: ghcr.io/w154594742/kiro-rs:beta
    container_name: kiro-rs
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8990:8990"
    volumes:
      - ./config:/app/config
    restart: unless-stopped
